*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Helper class */
.m-b-10{
    margin-bottom: 10px;
}


.d-flex{
    display: flex;
}
.sidebar{
    background-color: #f44336;
    color: #ffffff;
    width: 250px;
    height: 100%;
    padding: 50px;
    position: fixed;
}

.sidebar h2 p{
    font-weight: bold;
    font-size: 28px;
}

.sidebar ul{
    list-style: none;
    margin-top: 100px;
}

.sidebar ul li{
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0 40px 0;
}
.sidebar ul li a{
    color: #ffffff;
    text-decoration: none;
}

/* Page Content */

.page-content{
    margin-left: 400px;
    padding: 70px 30px;
}

.main-heading{
    font-size: 58px;
}

/* Showcase */
.heading2{
    color: #f44336;
    font-size: 42px;
    margin-top: 20px;
}

.underline{
    display: inline-block;
    height: 8px;
    width: 100px;
    background-color: #f44336;
    border-radius: 10px;
    margin: 30px 0 50px 0;
}
.row-1 .image1, 
.row-1 .image2{
    width: 420px;
    height: 350px;
    margin: 10px;
}

.row-2 .image1,
.row-2 .image2{
    width: 420px;
    height: 260px;
    margin: 10px;
}
.showcase img{
    opacity: 0.8;
}

.image1:hover, .image2:hover{
    opacity: 1;
}

.para{
    text-align: justify;
}

.team-text{
    font-weight: bold;
    padding: 20px 0;
    
}

.designer-panel{
    display: flex;
    justify-content: space-between;
    
    /* margin: 10px; */
}
.designer{
    background-color: #f1f1f1; 
    margin: 10px;
}
.designer img{
    height: 220px;
    width: 100%;
}

.designer .description{
    padding: 15px;
}
.name{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.post{
    color: #000;
    margin: 10px 0;
}

.about{
    font-size: 16px;
}

.contact form input{
    width: 100%;
    padding: 10px;
    margin: 10px 20px 10px 0;
}

.contact form button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
.conatct-form{
    margin-top: 20px;
}

footer{
    margin-top: 30px;
    text-align: center;
}
